body {
  background-color: rgb(58, 58, 58);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  background-image: url(asset/photo-cupcake-home.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  padding: 20px;
  text-align: center;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}
header .logo a {
  background-image: url(asset/logocupcake.png);
  background-size: 150px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  text-indent: -9999999px;
  top: -60px;
  height: 150px;
  width: 150px;
}
ul {
  margin: 0;
  padding: 0
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 10px;
}
.services-photos {
  background-color: white;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.services-photos figure {
  margin: auto;
  width: 300px;
}
.services-photos figure img{
  border-radius:40%;
  width: 300px;

}

footer {
  background-color: black;
  padding: 20px;
}
